<div class = "stage-field">
  <div *ngIf="playAnimation === 1">
  <img  *ngIf="playAnimation === 1" [@jello]="jello" (click)="increaseCurrency()" src="assets/images/{{assetImage}}" class="pump">
  </div>
  <div *ngIf="playAnimation === 2">
  <img *ngIf="playAnimation === 2" [@rubberBand]="rubberBand" (click)="increaseCurrency()" src="assets/images/{{assetImage}}" class="pump">
  </div>
  <div *ngIf="playAnimation === 3">
    <img *ngIf="playAnimation === 3" [@shake]="shake" (click)="increaseCurrency()" src="assets/images/{{assetImage}}" class="pump">
  </div>
</div>
