<table class="shop_container table table-hover">
  <thead>
    <tr>
      <th class="text-color">Upgrade</th>
      <th class="text-color">In Bezit</th>
      <th class="text-color">Kosten</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!autoClickerEnabled">
      <td class="text-color">Automatische klikker</td>
      <td class="text-color">0</td>
      <td class="text-color">10000</td>
      <td>
        <button
        class="btn btn-sm btn-secondary"
        (click)="commitPurchase(10000, 'autoClicker')"
        [disabled]="currency < 10000"
        >
        <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
    <tr *ngFor="let upgrade of upgrades">
      <td class="text-color">{{upgrade.name}}</td>
      <td class="text-color">{{upgrade.owned}}</td>
      <td class="text-color">{{currentPrice(upgrade.initialPrice, upgrade.owned)}}
        <img *ngIf="upgrade.name === 'Upgrade dak'" height="20" src="../../../../assets/images/unicefcoin.png">
      </td>
      <td>
        <button
          class="btn btn-sm btn-secondary"
          (click)="commitPurchase(currentPrice(upgrade.initialPrice, upgrade.owned), upgrade.name)"
          [disabled]="currency < currentPrice(upgrade.initialPrice, upgrade.owned)"
        >
          <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <thead>
  <tr>
    <th class="text-color">Facility</th>
    <th class="text-color">Owned</th>
    <th class="text-color">Cost</th>
    <th class="text-color"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let facility of facilities">
      <td class="text-color">{{facility.name}}</td>
      <td class="text-color">{{facility.owned}}</td>
      <td class="text-color">{{currentPrice(facility.initialPrice, facility.owned)}}
        <img *ngIf="facility.name === 'Kinderdagverblijf'" height="20" src="../../../../assets/images/unicefcoin.png">
      </td>
      <td>
        <button
          class="btn btn-sm btn-secondary"
          (click)="commitPurchase(currentPrice(facility.initialPrice, facility.owned), facility.name)"
          [disabled]="currency < currentPrice(facility.initialPrice, facility.owned)"
        >
          <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
