<table class="table table-hover">
  <thead>
    <tr>
      <th>Upgrade</th>
      <th>Owned</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!autoClickerEnabled">
      <td>Autoclicker</td>
      <td>0</td>
      <td>10000</td>
      <td>
        <button
        class="btn btn-sm btn-secondary"
        (click)="commitPurchase(10000, 'autoClicker')"
        [disabled]="currency < 10000"
        >
        <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
    <tr *ngFor="let upgrade of upgrades">
      <td>{{upgrade.name}}</td>
      <td>{{upgrade.owned}}</td>
      <td>{{currentPrice(upgrade.initialPrice, upgrade.owned)}}</td>
      <td>
        <button
          class="btn btn-sm btn-secondary"
          (click)="commitPurchase(currentPrice(upgrade.initialPrice, upgrade.owned), upgrade.name)"
          [disabled]="currency < currentPrice(upgrade.initialPrice, upgrade.owned)"
        >
          <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <thead>
  <tr>
    <th>Facility</th>
    <th>Owned</th>
    <th>Cost</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let facility of facilities">
      <td>{{facility.name}}</td>
      <td>{{facility.owned}}</td>
      <td>{{currentPrice(facility.initialPrice, facility.owned)}}</td>
      <td>
        <button
          class="btn btn-sm btn-secondary"
          (click)="commitPurchase(currentPrice(facility.initialPrice, facility.owned), facility.name)"
          [disabled]="currency < currentPrice(facility.initialPrice, facility.owned)"
        >
          <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
