.field {
  background: url("../../../assets/images/sand.jpg") repeat;
  height: 100vh;
}

.currency-image {
  max-height: 30px;
}

.button{
  background: #FFFFFF;
  color: #00AFEC;
  margin: 5px;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.wallet {
  margin-left: 10px;
}
