<div class="field">
  <button (click)="toggleStore()" class="btn btn-outline-info">{{openStore ? 'Close store' : 'Open store'}}</button><div class="wallet float-right">{{currency}} x<img src="assets/images/{{currencyImage}}" class="currency-image" alt="image"></div>
  <app-stage-view *ngIf="!openStore; else store" (increase)="increaseCurrency()"></app-stage-view>
  <ng-template #store>
    <app-stage-store
      (purchase)="commitPurchase($event)"
      [currency]="currency"
      [facilities]="facilities"
      [upgrades]="upgrades"
    ></app-stage-store>
  </ng-template>
</div>
