<div class="field">
  <div class="header">
    <div class="wallet float-right">{{currency}} x<img src="assets/images/{{currencyImage}}" class="currency-image" alt="image"></div>
    <div class="wallet float-right" (click)="buyCoins()">{{coinCurrency}} x<img src="../../../assets/images/unicefcoin.png" class="currency-image" alt="image"></div>
  </div>
  <div class="progress">
    <div class="progress-bar bg-unicef" role="progressbar" [ngStyle]="{'width.%': getProgress()}">Level {{getLevel()}}</div>
  </div>
  <app-stage-view *ngIf="!openStore; else store" (increase)="increaseCurrency()"></app-stage-view>

  <ng-template #store>
    <app-stage-store
      (purchase)="commitPurchase($event)"
      [currency]="currency"
      [facilities]="getAvailableFacilities()"
      [upgrades]="getAvailableUpgrades()"
    ></app-stage-store>
  </ng-template>

  <div class="footer">
    <button (click)="toggleStore()" class="button">
      <i *ngIf="!openStore" class="fas fa-shopping-cart"></i>
      <i *ngIf="openStore" class="fas fa-arrow-left"></i>

      <br>{{openStore ? 'TERUG' : 'WINKEL'}}
    </button>
    <button class="button"><i class="fas fa-city"></i>BOEDEL</button>
    <button class="button"><i class="fas fa-puzzle-piece"></i>EXPEDITIE</button>
  </div>
</div>
