.field {
  background: url("../../../assets/images/sand.jpg") repeat;
  height: 100vh;
  position: relative;
}

.header {
  height: 60px;
}

.currency-image {
  max-height: 50px;
}

.button{
  background: #FFFFFF;
  color: #00AFEC;
  margin: 5px;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  &__back-button{
    width: 52px;
    margin: 5px;
  }
}

.wallet{
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.bg-unicef {
  background-color: #00AFEC !important;
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  button {
    width: 30%;
  }
}
