.level-selection {
  height: 100vh;
  #world_map {
    height: 100vh;

  }

  #bahamas {
    position: absolute;
    top: 46%;
    left: 280px;
  }

  #jemen {
    position: absolute;
    top: 46%;
    left: 590px;
  }

  #syria {
    position: absolute;
    top: 40%;
    left: 560px;
  }
}


