.level-selection {
  height: 100vh;
  touch-action: manipulation;

  #world_map {
    height: 100vh;

  }

  #bahamas {
    position: absolute;
    top: 40%;
    left: 306px;
  }

  #jemen {
    position: absolute;
    top: 41%;
    left: 660px;
  }

  #syria {
    position: absolute;
    top: 33%;
    left: 620px;
  }
}


