.level-selection {
  height: 100vh;
  touch-action: manipulation;

  #world_map {
    height: 100vh;

  }

  #bahamas {
    position: absolute;
    top: 40%;
    left: 306px;
  }

  #jemen {
    position: absolute;
    top: 41%;
    left: 660px;
  }

  #syria {
    position: absolute;
    top: 33%;
    left: 620px;
  }
}
.button{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 52px;
  background: #FFFFFF;
  color: #00AFEC;
  margin: 5px;
  border-radius: 50px;
  outline: none;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
}

