<div class="level-selection">
  <div><img id="world_map" src="../../../assets/images/WRLD-EPS-02-0007.png" height="800">
  <div (click)="onBackPressed()" class="button"><img src="../../../assets/images/icon-arrow-left.svg"></div></div>
  <img id="bahamas" src="../../../assets/images/pin.png" (click)="goToLevel('bahamas')" height="22">
  <img id="jemen" src="../../../assets/images/pin.png" (click)="goToLevel('jemen')" height="22">
  <img id="syria" src="../../../assets/images/pin.png" (click)="goToLevel('syria')" height="22">

</div>
