.space{
  overflow: hidden;
  width: 100vw;;
  height: 100vh;;
  background: url("../../../assets/space.jpg") no-repeat;
}
.earth{
  margin: 75% 25%;
  width: 200px;
  height: 200px;
}
.button{
  width: 52px;
  background: #FFFFFF;
  color: #00AFEC;
  margin: 5px;
  border-radius: 50px;
  outline: none;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
}
